<form action="/upload" method="POST" enctype="multipart/form-data">
    <div class="custom-file mb-3">
        <input type="file" name="file" id="file" class="custom-file-input">
        <label for="file" class="custom-file-label">Choose File</label>
    </div>
    <input type="submit" value="submit" class="btn btn-primary btn-block">

</form>


<div class="card card-body mb-3">
<img src="http://localhost:3000/image/4159170f61a3a2a0cdb90f83ded7797c.jfif">
    <form method="POST" action="/files/file._id" ?_method="DELETE"></form>
</div>

<script>
    if(files) {
        files.forEach(function(file)  {
            if(file.isImage) {
                const img = Document.createElement("img")
                img.src = "http://localhost:3000/image/" + file.fileName
            }
            else {
                file.filename
            }
        });
    }
    else {
        <p>No Files To Show</p>
    }
</script>